@import url('./normalize.css');

* {
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.header {
height: 4em;
border-bottom: 1px solid black;
display: flex;
align-items: center;
justify-content: center;
font-size: 1.3em;
}

.main {
    display: flex;
    flex-direction: row;
}

.main__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 5rem);
    height: calc(100vh - 4em);
}

.main__container-clock {
    border: 1px solid black;
    width: 800px;
    height: 400px;
}