.schemes, .duration__session, .schemes__buttons, .duration__break {
    display: flex;
    flex-direction: row;
   padding: 8px;
}

.schemes {
    justify-content: space-between;
}

.duration__session, .duration__break {
    justify-content: space-between;
}

.schemes__buttons {
justify-content: space-around;
gap: 8px;
}